<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- scan the package and the sub package -->
    <context:component-scan base-package="self.sunng.springmvc">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- -->
    <context:property-placeholder location="classpath:config.properties"/>

    <!-- 连接信息配置在config.properties下引用下面一段 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialSize"><value>1</value></property>
        <property name="maxActive"><value>5</value></property>
        <property name="minIdle"><value>1</value></property>
        <property name="maxWait"><value>60000</value></property>
        <!-- 配置监控统计拦截的filters -->
        <property name="filters"><value>stat</value></property>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis"><value>300000</value></property>
        <property name="validationQuery"><value>SELECT 1</value></property>
        <!--
        <property name="testWhileIdle"><value>true</value></property>
        <property name="testOnBorrow"><value>false</value></property>
        <property name="testOnReturn"><value>false</value></property>
        <property name="poolPreparedStatements"><value>true</value></property>
        <property name="maxOpenPreparedStatements"><value>20</value></property>
         -->
    </bean>

    <!-- 连接信息配置在tomcat下引用下面一段 -->
    <!--<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">-->
        <!--<property name="resourceRef" value="false"/>-->
        <!--<property name="jndiName" value="${dataSource_mysql}"/>-->
    <!--</bean>-->

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--<property name="mapperLocations" value="classpath:mapper/*.xml" />-->
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"   scope="prototype" >
        <constructor-arg ref="sqlSessionFactory" />
    </bean>

    <!-- configure the InternalResourceViewResolver -->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
          <!--id="internalResourceViewResolver">-->
        <!--&lt;!&ndash; 前缀 &ndash;&gt;-->
        <!--<property name="prefix" value="/WEB-INF/jsp/" />-->
        <!--&lt;!&ndash; 后缀 &ndash;&gt;-->
        <!--<property name="suffix" value=".jsp" />-->
    <!--</bean>-->

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean class="self.sunng.springmvc.common.ExceptionHandler"/>

</beans>